<!-- LOGADO -->
<div *ngIf="usuarioLogado" class="conteiner-fluid" style="margin-bottom: 25px">
    <nav class="navbar navbar-expand-md navbar-dark menu-color">
        <a class="navbar-brand nav-link" href="#" [routerLink]="['/']">
            <i class="fa fa-user-edit"></i> {{ title }} </a>
            <div class="navbar-collapse collapsed justify-content-between" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><p class="navbar-text mb-0 text-white">
                    <i class="fa fa-user"></i> {{ usuarioLogado.nome}} </p>
                </li>    
                <!-- CLIENTE -->
                <div *ngIf="usuarioLogado.perfil === 'CLIENTE'">
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/depositar']">Depositar</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/saque']">Saque</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/transferencia']">Tranferência</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/saldo']">Saldo</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/extrato']">Extrato</a></li>
                </div>
                    <!-- GERENTE -->
                <div *ngIf="usuarioLogado.perfil === 'GERENTE'">
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/listar-cliente']">Lista clientes</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/buscar-cliente']">Buscar cliente</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/top-5-clientes']">5 Melhores clientes</a></li>
                </div> 
                <!-- ADMINISTRADOR -->
                <div *ngIf="usuarioLogado.perfil === 'ADMIN'">
                    <li  class="nav-item" >
                        <a class="nav-link" href="#" [routerLink]="['/gerentes']">Gerentes</a></li>
                </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item" ngbDropdown>
                    <div ngbDropdown Menu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" [routerLink]="['/home']" (click)="$event.preventDefault()">Home</a>
                        <a *ngIf="usuarioLogado.perfil ==='CLIENTE'" ngbDropdownItem href="#" [routerLink]="['/depositar']" (click)="$event.preventDefault()">Depositar</a>
                        <a *ngIf="usuarioLogado.perfil ==='CLIENTE'" ngbDropdownItem href="#" [routerLink]="['/saque']" (click)="$event.preventDefault()">Saque</a>
                        <a *ngIf="usuarioLogado.perfil ==='CLIENTE'" ngbDropdownItem href="#" [routerLink]="['/transferencia']" (click)="$event.preventDefault()">Transferência</a>
                        <a *ngIf="usuarioLogado.perfil ==='CLIENTE'" ngbDropdownItem href="#" [routerLink]="['/saldo']" (click)="$event.preventDefault()">Saldo</a>
                        <a *ngIf="usuarioLogado.perfil ==='CLIENTE'" ngbDropdownItem href="#" [routerLink]="['/extrato']" (click)="$event.preventDefault()">Extrato</a>
                        
                        <a *ngIf="usuarioLogado.perfil ==='GERENTE'" ngbDropdownItem href="#" [routerLink]="['/listar-cliente']" (click)="$event.preventDefault()">Listar clientes</a>
                        <a *ngIf="usuarioLogado.perfil ==='GERENTE'" ngbDropdownItem href="#" [routerLink]="['/buscar-cliente']" (click)="$event.preventDefault()">Buscar clientes</a>
                        <a *ngIf="usuarioLogado.perfil ==='GERENTE'" ngbDropdownItem href="#" [routerLink]="['/top-5-clientes']" (click)="$event.preventDefault()">5 Melhores clientes</a>
                        
                        <a *ngIf="usuarioLogado.perfil ==='ADMIN'" ngbDropdownItemhref="#" [routerLink]="['/gerentes']" (click)="$event.preventDefault()">Gerentes</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="nav-shadow"></div>
</div>
    <router-outlet></router-outlet>
