.title {
    font-family: 'Muli', sans-serif;
    color: #292929f3;
    margin: 1.2em auto 0;
}

.button-list {
    margin: auto 2%;
}
.button-list :hover {
    color: #283370;
}

.icon-color {
    color: #292929f3;
    font-size: 20px;
    cursor: pointer;
}

.modal-header {
    background: #f5f5f5;
}