<h1>Buscar Cliente</h1>

<div class="well">
    <form #formBusca="ngForm">
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="cliente.cpf" #cpf="ngModel" required>
            <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="alert alert-danger">
                <div [hidden]="!cpf.errors?.['required']">
                    Digite o CPF do cliente
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="buscar()" [disabled]="!formBusca.form.valid">
            <i class="fa fa-save" aria-hidden="true"></i>
            Buscar
        </button>
    </form>
    <div *ngIf="cliente.nome">
        <label for="nome">Nome:</label>
        <p id="nome">{{cliente.nome}}</p>
        <label for="email">Email:</label>
        <p id="email">{{cliente.email}}</p>
    </div>


</div>